/* Global Styles */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    overflow-x: hidden;
}

a {
    text-decoration: none;
}

.btn {
    display: inline-block;
    text-align: center;
    transition: all 0.3s ease;
}

.btn i {
    margin-right: 8px;
}
